*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*navbar*/
.collapse ul{
    width: 100%;
    margin-left: 100px; 
    
}
  
.container-fluid img {
    width: 150px;
    margin: -15px;
    margin-left: 150px;
}
  
.nav-item {
    margin-left: 10px;   
}
  
.nav-item a:hover{
    border-bottom: solid 2px #d2b862;
}
  
.nav-item .nav-link {
    color: #004e79;
    font-weight: 550;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
  
.dropdown-menu li a {
    color: white;
}
  /*Navbar*/

/*div*/
.jumbotron {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2b862;
    background: #004e79;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;  
}
  
.jumbotron:hover{
    color: #ffffff;
}
/*div*/

.cabeza{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 30px;
  color: #d2b862;
  text-transform: capitalize;
}

.info{
  box-shadow: 2px 2px 1rem  #d2b8628a;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  transition: all ease 0.5s
}

.info:hover{
  box-shadow: 2px 2px 1rem  #d2b862;
}

.teccocina{
  display: flex;
  justify-content: space-around;
  align-items: start;
    
}

.color{
  color: #004e79;
  text-transform: capitalize;
}
.color1{
  color: #d2b862;
  text-transform: capitalize;
}

.descripcion{
  width: 70%;

}

.img-fluid2 {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  transition: all ease 0.5s;
}
  
.img-fluid2:hover {
  border-radius: 10px;
  transform: scale(1.07);
}
.img3{
  object-fit: cover;
  width: 290px;
}
.accordion-button{
  height: 50px;
}

.accordion-button:active{
  background-color: #d2b862;
  color: #d2b862;
}

.modulos{
  display: flex;
  justify-content: space-around;
}



/* footer */
#footer {
  background-color: #212529;
  color: white;
  margin-bottom: -100px;
  
}

.contenedorfoo{
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.container .img-fluid1{
  width: 200px;
  height: auto;
  background-color: #ffffff;
  border-radius: 50%;
}



.contacto .li1{
    margin-left: 50px;
    
}

.contacto li p{
    color: #d2b862;
}

.contacto .li2{
    margin-left: 150px;
}
.contacto li {
    width: 300px;
    font-family: sans-serif;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  background-color: #373737;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  transition: 0.5s ease;
}

#footer .social-links a:hover {
  background-color: #004e79;
  color: white;
}



#footer .copyright {
  margin: 0 auto;

}

.span__span{
  color: #d2b862;
}

@media (max-width: 768px) {
  #footer .container {
    max-width: 100%;
  }

  #footer img {
    width: 120px;
    height: auto;
  }

  #footer .list-unstyled {
    flex-wrap: wrap;
  }

  #footer .list-inline {
    display: flex;
    flex-direction: inline-block;
  }

  #footer .social-links li {
    margin-top: 1rem;
    
  }

  #footer .copyright {
    display: flex;
    flex-direction: column;
  
  }
}

@media (max-width: 550px) {
  #footer .container {
    max-width: 100%;
  }

  #footer img {
    width: 100px;
    height: auto;
  }

  #footer .list-unstyled {
    flex-wrap: wrap;
  }

  #footer .list-inline {
    display: flex;
    flex-direction: inline-block;
  }

  #footer .social-links li {
    margin-top: 1rem;
    
  }

  #footer .copyright {
    display: flex;
    flex-direction: column;
  
  }
  }

  @media (max-width: 780px) {
    #footer .container {
      max-width: 100%;
    }
  
    #footer img {
      width: 100px;
      height: auto;
    }
  
    #footer .list-unstyled {
      flex-wrap: wrap;
    }
  
    #footer .list-inline {
      display: flex;
      flex-direction: inline-block;
    }
  
    #footer .social-links li {
      margin-top: 1rem;
      
    }
  
    #footer .copyright {
      display: flex;
      flex-direction: column;
    
    }
}

.arrow {
  position: fixed;
  background-color: #004e79;
  border-radius: 60px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;
  
}
/* footer */













